# ===== build folder =====
build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# ===== compiled objects =====
*.o
*.obj
*.d
*.a
*.so
*.out

# ===== system files =====
.DS_Store
Thumbs.db

# ===== IDE =====
.vscode/
.idea/

# QT / QtCreator
*.user
build_qt_out/
*.pro.user
*.autogen
moc_*.cpp
ui_*.h

# 临时测试二进制、可执行文件
redis_text/deadlock
redis_text/leak
redis_text/segfault
text_buffer
text_channel
text_connection
text_eventloop

# python缓存
__pycache__/
*.pyc

# 压测客户端编译产物
bench_cpp
